{
  "presets": ["es2015", "stage-2", "react"],
  "plugins": [
      "transform-object-assign",
      "transform-object-rest-spread",
      "transform-react-inline-elements",
      "transform-runtime"
  ]
}
